body {
    background-color: rgb(6, 150, 160); 
    font-family: 'Fredoka One', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
}

.main-head {
    grid-area: header;
    text-align: center;
    background-color: rgb(166, 202, 205);
}

.main-content {
    grid-area: content;
    text-align: center;
    background-image: url("images/football.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 1920px;
    height: 1279px; */
}

.main-nav {
    grid-area: nav;
}


.main-footer {
    grid-area: footer;
    text-align: center;
    background-color: rgb(166, 202, 205);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas:
      "nav header  header"
      "nav    content content"
      "nav    content content"
      "nav footer  footer";
    width: 100vw;
    height: 100vh;
}

.nav-list {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    list-style: none;
    text-align: center;
    padding: 0;
}
.nav-list > li {
    background-color: rgb(166, 202, 205);
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
}

.nav-list > li > a {
    text-decoration: none;
}

.nav-list > li > a:hover {
    color: chocolate;
}

#logo {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}